@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700;900&display=swap');

body {
  margin: auto;
  max-width: 100%;
}

@media(max-width:620px){
  body{
    width: auto;
    margin: 1px;
  }
}

main
{
  width: 100%;
}

.nav-Fia {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  height: 60px;
}

@media(max-width:620px){
  .nav-Fia{
    display: flex;
    border: 1px solid black;
    width: auto;
    height: 60px;
  }
  .fia img{
    margin-left: -30px;
  }
}

.nav-Fia ul {
  display: flex;
  list-style: none;
  width: 170px;
  height: 35px;
}

.fia img {
  width: 36px;
  height: 25px;
  margin-top: 5px;
  opacity: 0.3;
}

.fia hr {
  width: 1px;
  height: 50px;
}

.f1-f2-f3 {
  margin-top: 5px;
}

@media(max-width:620px){
  .f1-f2-f3{
    display: flex;
  }
}

.f1-f2-f3 a {
  color: gray;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 4px;
}

.f1-f2-f3 a:hover {
  color: black;
}

.links-global a:hover {
  color: #f00;
  text-decoration: underline 5px;
  line-height: 22px;
}

.nav-F1 {
  width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.nav-F1 ul {
  display: flex;
  list-style: none;
  width: 650px;
  height: 35px;
  justify-content: space-evenly;
}

@media(max-width:620px){
  .nav-F1 ul{
    margin-left: -5px;
    width: auto;
    justify-content: space-between;
  }
}

.links-global {
  display: flex;
  gap: 1cm;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 4px;
  font-family: 'Titillium Web', sans-serif;
}

@media(max-width:620px){
  .links-global{
    display: flex;
    gap: 10px;
    width: auto;
    margin-left: -20px;
  }
}

.f1-tv img {
  width: 105px;
  height: 35px;
  margin-left: 9px;
  margin-right: 9px;
}

@media(max-width:620px){
  .f1-tv img{
    width: 70px;
  }
}

.git img {
  width: 60px;
  height: 50px;
  margin-top: -8px;
}

@media(max-width:620px){
  .git img{
    width: 70px;
    display: contents;
  }
}

.home-F1 {
  display: flex;
  justify-content: space-evenly;
  height: 70.8px;
  background-color: #f00;
  font-family: 'Titillium Web', sans-serif;
}

@media(max-width:620px){
  .home-F1{
    justify-content: left;
    width: 100%;
  }

  .f1-Logo img{
    margin-left: 100px;
  }
}

.f1-Logo {
  margin-left: -14%;
  margin-top: 20px;
}

.f1-Logo img {
  width: 130px;
  height: 32.5px;
}

.home-f1 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: -18%;
  margin-top: -2px;
  width: 900px;
  height: 70px;
  font-size: 18px;
}

@media(max-width:620px){
  .home-f1{
    display: contents;
    justify-content:space-evenly;
    gap: 1px;
  }
}

.latest {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  width: 96px;
  height: 70.5px;
}

.latest:hover {
  background-color: black;
}

.latest a {
  filter: brightness(100);
  margin-top: 20%;
  color: rgb(255, 255, 255);
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.video:hover {
  background-color: black;
}

.video a {
  margin-top: 20%;
  filter: brightness(100);
  color: white;
}

.schedule {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.schedule:hover {
  background-color: black;
}

.schedule a {
  margin-top: 20%;
  filter: brightness(100);
  color: white;
}

.standings {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.standings:hover {
  background-color: black;
}

.standings a {
  margin-top: 20%;
  filter: brightness(100);
  color: white;
}

.drivers {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.drivers:hover {
  background-color: black;
}

.drivers a {
  margin-top: 20%;
  filter: brightness(100);
  color: white;
}

.teams {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.teams:hover {
  background-color: black;
}

.teams a {
  margin-top: 20%;
  filter: brightness(100);
  color: white;
}

.gaming {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.gaming:hover {
  background-color: black;
}

.gaming a {
  margin-top: 20%;
  filter: brightness(100);
  color: white;
}

.liveTiming {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  width: 96px;
  height: 70px;
}

.liveTiming:hover {
  background-color: black;
}

.liveTiming a {
  margin-top: 20%;
  color: white;
}

@media(max-width:620px){
  .latest{
    display:none;
  }
  .video{
    display: none;
  }
  .schedule{
    display: none;
  }
  .standings{
    display: none;
  }
  .drivers{
    display: none;
  }
  .teams{
    display: none;
  }
  .gaming{
    display: none;
  }
  .liveTiming{
    display: none;
  }
}
/*/////////////////////////////////////////////////////////////////////////////////////*/
.black-screen-F1
{
  /* border: 2px solid ; */
  display: flex;
  background-color: #1d1e20;
}

.black-screen-F1 h1
{
  margin-top: 2.9%;
  margin-left: 4%;
  font-family: 'Titillium Web',serif;
  color: whitesmoke;
}

#history-F1
{
  display: flex;
  border-top: 10px solid  #e10600;
  border-right: 10px solid  #e10600;
  border-bottom: 10px solid  #e10600;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 900px;
  margin-top: 4%;
  margin-left: 1%;
  margin-bottom: 20px;
}

#history-F1 p
{
  border-right: 2px solid lightgray;
  margin-left: -21%;
  width: 500px;
  font-family: 'Titillium Web', sans-serif;
  color: whitesmoke;
}

#history-F1 video
{
  /* border-right: 5px solid #f00; */
  /* border-bottom: 1px solid whitesmoke; */
  margin-left: 10px;
  margin-top: 10px;
  width: 535px;
  height: 300px;
}

.background-image
{
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/gray3-x1.png);
  background-size: 50px ;
  width: 530px;
  height: 125px;
  margin-top: 35%;
  margin-left: -59%;
}

#background-image
{
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/gray3-x1.png);
  background-size: 50px ;
  width: 280px;
  height: 490px;
  margin-top: 2%;
  margin-left: 30px;
}

@media(max-width:620px){
  .black-screen-F1{
    width: 100%;
    height: auto;
    
  }
  #history-F1{
    width: 74%;
    flex-wrap: wrap;
  }
  #history-F1 p{
    width: auto;
    margin-top: 3cm;
  }
  #history-F1 video{
    width: auto;
    margin-left: -3cm;
  }
  .background-image{
    width: 700px;
    margin-top: -0cm;
  }
  #background-image{
    margin-left: -1px;
  }
}

.F1-screen
{
  display: grid;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(255, 255, 255, 0.804);
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/gray3-x1.png);

}

@media(max-width:620px){
  .F1-screen{
    width: 100%;
  }
}

#schedule-article-container 
{
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-top-right-radius: 25px;
  background-color: white;
  width: 1320px;
  height: 90px;
  margin-top: 3%;
  margin-left: 5%;
}

#schedule-article-container div
{
  width: 600px;
  height: 90px;
  margin-top: 3px;
  line-height: 10px;
}

#schedule-article-container h2
{
  font-size: 72px;
  line-height: 10px;
  font-family:'Titillium Web',sans-serif ;
  font-weight: 900;
  margin-top: 4%;
}

#schedule-article-container p
{
  font-size: 18px;
  margin-top: -30px;
  /* border: 1px solid; */
  width: 600px;
}

@media(max-width:620px){
  #schedule-article-container{
      margin-left: -0px;
      width: 95%;
  }
}

#screen-calendar {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-left: 5%;
  width: 1320px;
}

#schedule-card {
border-bottom: none;
border-left: none;
border-right: 2px solid #000;
border-top: 2px solid #000;
border-top-right-radius: 10px;
display: grid;
height: 269px;
margin-left: 1%;
margin-right: 3.1%;
margin-top: 5%;
padding-left: 0px;
width: 261px;
}

#schedule-card:hover {
border-color: #e10600;
margin-top: 30px;
padding-top: 20px;
transition: .1s all ease;
}

legend {
color: #e10600;
height: 20px;
width: 80px;
}

#schedule-card div {
display: flex;
justify-content: space-around;
border-bottom: 1px solid;
width: 259px;
height: 75px;
color: #000;
}

#date {
margin-left: -10%;
height: 30px;
font-size: 25px;
line-height: 22px;
}

#month {
display: flex;
justify-content: center;
align-items: center;
width: 90px;
height: 20px;
border: 1px solid;
border-radius: 10px;
margin-top: 26px;
margin-left: -160px;
font-size: 17px;
background-color: #000;
color: whitesmoke;
}

#flag img {
display: flex;
width: 46px;
height: 26px;
border: 2px solid #1d1e20;
border-radius: 5px;
margin-top: 13px;
margin-left: 50%;
margin-right: 0;
}

#event-location {
display: flex;
align-items: center;
font-family: 'Titillium Web', sans-serif;
font-weight: 700;
font-size: 22px;
width: 280px;
height: 21px;
margin-top: 5px;
}

#event-location img {
width: 20px;
height: 20px;
margin-top: 9px;
}

#title-grand-prix {
height: 45px;
width: 300px;
line-height: 16px;
margin-top: 28px;
margin-left: -237px;
}

.tracing-picture {
display: flex;
width: 256px;
height: 100px;
margin-top: 5px;
background-image: url(./img/plus-x1.png);
}

.tracing-picture img {
width: 256px;
height: 100px;
border-radius: 10px;
}

#tracing {
margin-left: 20%;
width: 144px;
height: 108px;
}

@media(max-width:620px){
  #screen-calendar{
    width: auto;
    margin-left: -1px;
    flex-wrap: wrap;
  }
}

#race-filter {
display: flex;
justify-content: space-evenly;
margin-top: 10%;
margin-left: 3%;
margin-bottom: 3%;
width: 1440px;
height: 144px;
background-color: white;
}

@media(max-width:620px){
  #race-filter{
    width: auto;
    height: auto;
  }
  .result-filter{
    display: none;
  }
}

.result-filter {
width: 479px;
height: 144px;
}

#years {
display: grid;
width: 383px;
height: 144px;
margin-top: 0;
}

.filter {
margin-left: -10%;
width: 383px;
height: 36px;
list-style-type: none;
display: grid;
grid-template-columns: auto 1fr;
align-items: center;
font-family: 'Titillium Web', sans-serif;
font-weight: 700;
margin-top: 1px;
}

.filter:hover {
text-decoration: underline 1px;
color: #e10600;
cursor: pointer;
}

#statistic-race {
display: grid;
border-left: 1px solid lightgrey;
width: 383px;
height: 144px;
margin-top: 0;
}

#track {
display: grid;
border-left: 1px solid lightgrey;
width: 383px;
height: 144px;
margin-top: 0;
}

#table-result {
width: 1440px;
height: 1290px;
background-color: white;
margin-top: -2.5%;
margin-left: 3%;
margin-bottom: 10%;
}

#table-result h2 {
font-family: 'Titillium Web', sans-serif;
font-size: 50px;
font-weight: 400;
margin: 0 0 0 1%;
}

#table-result table {
width: 1440px;
height: 20px;
border-collapse: collapse;
}

@media(max-width:620px){
  #table-result{
    margin-left: 15px;
  }
  #table-result h2{
    margin-left: -1px;
  }
  #table-result table{
   width: auto;
   margin-left: -10px;
  }
 }

#first-line td {
padding: 18px 20px 14px;
text-align: left;
text-transform: uppercase;
font-weight: 500;
color: gray;
font-size: 13px;
}

@media(max-width:620px){
  #first-line td{
    margin-left: -10px;
  }
  #time{
    display: none;
  }
}

.line-color {
background-color: #f4f4f4;
}

td {
padding: 18px 20px 14px;
text-align: left;
font-weight: 500;
color: #4a4a4a;
font-size: 12px;
}

th {
padding: 18px 20px 14px;
text-align: left;
font-weight: 600;
color: #4a4a4a;
font-size: 12px;
}

.screen-F1-drivers
{
  display: grid;
  background-color: #1d1e20;
  height: auto;
}

#banner-driver
{
  display: grid;
  font-family: 'Titillium Web', sans-serif;
  border-top: 10px solid #f00;
  border-right: 10px solid #f00;
  border-top-right-radius: 25px;
  width: 1320px;
  height: 70px;
  margin-top: 3%;
  margin-left: 5%;
}

#banner-driver h2
{
  margin-top: 2.9%;
  margin-left: 4%;
  font-family: 'Titillium Web',serif;
  font-size: 60px;
  line-height: 1px;
  font-weight: 900;
  color: whitesmoke;
}

#descricao-drivers
{
  margin-left: 5%;
  font-family: 'Titillium Web', sans-serif;
  color: whitesmoke;
}

.screen-F1-drivers div
{
  width: 1345px;
  height: 2009px;
  margin-left: 5%;
  margin-bottom: 3%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  background-color:rgba(245, 245, 245, 0.021);
}

.card-driver
{
  width: 300px;
  height: 278px;
  margin-top: 3%;
  border:1px solid white ;
  border-top-right-radius: 10px;
  border-bottom: none;
  border-left: none;
}

@media(max-width:620px){
  .screen-F1-drivers{
    width: 100%;
    height: auto;
  }
  .screen-F1-drivers div{
    width: auto;
    height: auto;
  }
  #banner-driver{
    width: 52%;
    margin-left: -2px;
    flex-wrap: wrap;
  }
  #banner-driver h2{
      margin-top: 40px;
  }
  #descricao-drivers{
    display: none;
  }
  .card-driver{
    margin-left: 40px;
    margin-right: 20cm;
    flex-wrap: wrap;
  }
}

.card-driver:hover
{
  border-color: currentColor;
  margin-top: 30px;
  padding-top: 20px;
  transition: .1s all ease;
}

#driver-info
{
  border-bottom: 1px solid white;
  display: grid;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  margin-left: -0%;
}

#team-color
{
  display: inline-block;
  width: 5px;
  height: 28px;
  background-color: #3671C6;
  margin-top: 18px;
}

#first-name
{
  color: white;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  margin-top: -30px;
  margin-left: 13px;
}

#second-name
{
  height: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  margin-top: -20px;
  margin-left: 13px;
}

.driver-flag
{
  display:flex;
  width: 46px;
  height: 26px;
  margin-top: -13%;
  margin-left: 6.5cm;
  border-radius: 5px;
}

.card-driver p
{
  color: lightslategray;
  font-family: 'Titillium Web', sans-serif;
}

#driver-profile
{
  display: flex;
  width: 310px;
  height: 160px;
  margin-left: -5px;
}

#driver-profile picture
{
  display: flex;
  width: 310px;
  height: auto;
}

.number-driver
{
  width: 90px;
  height: 55px;
  margin-top: 36%;
}

.pilot
{
  width: 192px;
  height: 192px;
  margin-top: -28px;
  margin-left: 30px;
}

.f1-Teams
{
  display: grid;
  background-color: white;
  height: auto;
}

@media(max-width:620px){
  .f1-Teams{
    width: 100%;
    height: auto;
  }
}

#banner-2
{
  display: grid;
  font-family: 'Titillium Web', sans-serif;
  border-top: 10px solid #000;
  border-right: 10px solid #000;
  border-top-right-radius: 25px;
  width: 1320px;
  height: 70px;
  margin-top: 3%;
  margin-left: 5%;
}

#banner-2 h2
{
  margin-top: 2.9%;
  margin-left: 4%;
  font-family: 'Titillium Web',serif;
  font-size: 60px;
  line-height: 1px;
  font-weight: 900;
  color: black;
}
@media(max-width:620px){
  #banner-2{
    width: 93%;
    margin-left: -0px;
  }
  #banner-2 h2{
    margin-top: 40px;
    margin-left: 4px;
  }
}

.f1-Teams div
{
  width: 1340px;
  height: 1800px;
  margin-top: 8%;
  margin-left: 5%;
  margin-bottom: 3%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

@media(max-width:620px){
  .f1-Teams div{
    width: 80%;
    height: auto;
    margin-left: -0px;
  }
}

.card-teams
{
  width: 640px;
  height: 295.58px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-top-right-radius: 10px;
  border-bottom: none;
  border-left: none;
  margin-top: 10px;
}

.card-teams:hover
{
  border-color: currentColor;
  margin-top: -20px;
  padding-top: 20px;
  transition: .1s all ease;
}

#team-itens
{
  display: flex;
  color: #000;
  justify-content:space-between;
  flex-wrap:wrap;
  border-bottom: 2px solid black;
  width: 628px ;
  height: 60px;
  margin-left: 2px;
  margin-top: 4px;
}

#team-name
{
  font-family: 'Titillium Web',serif;
  font-size: 27px;
  font-weight: 900;
  margin-left: -10cm;
  margin-top: 10px;
}

#team-logo
{
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

#driver-itens
{
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width: 635px ;
  height: 60px;
  margin-left: 1px;
  margin-top: 4px;
}

.driver-1
{
  display: flex;
  color: #000;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px;
  width: 261px;
  height: 48.8px;
}

.driver-2
{
  display: flex;
  color: #000;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px;
  width: 261px;
  height: 48.8px;
  margin-top: -10.5%;
  margin-left: 52%;
}

#name
{
  font-family: 'Titillium Web',serif;
  font-size: 14px;
  margin-top: 15px;
}

#second
{
  font-family: 'Titillium Web',serif;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 5px;
}

#pilot
{
  display: flex;
  width: 48px;
  height: 48px;
  margin-left: 3.5cm;
  margin-right: -10px;
  margin-top: 10px;
}

.background-car
{
  width: 628.4px;
  height: 154.38px;
  margin-top: 10px;
  background-image: url(./img/plus-x1.png);
  border-radius: 10px;
}

#picture-car
{
  width: 502.71px;
  height: 148.98px;
  margin-left: 2cm;
}

@media(max-width:620px){
  .card-teams{
    width: 10%;
    margin-bottom: 60px;
  }
  #team-itens{
    width: 90%;
  }
  .driver-1{
    width: 1%;
  }
  .driver-2{
    width: 1%;
  }
}

footer
{
  display: grid;
  background-color: #15151e;
  border: 1px solid white;
  height: 380px;
}

#partners
{
  border-bottom: 1px solid #38383f;
  width: 1320px;
  height: 90px;
  margin-left: 3cm;
  margin-top: 3%;
}

#partners ul
{
  display: flex;
  list-style: none;
  justify-content: center;
}

#partners img
{
  width: 125px;
  height: 70.25px;
  margin-left: -1%;
  margin-top: -20px;
}

#partners-2
{
  border-bottom: 1px solid #38383f;
  width: 1320px;
  height: 90px;
  margin-left: 3cm;
  margin-top: 1%;
}

#partners-2 ul
{
  display: flex;
  list-style: none;
  justify-content: center;
}

#partners-2 img
{
  width: 90px;
  height: 50px;
  margin-left: -1%;
  margin-top: -15px;
}

#partners-3
{
  border-bottom: 1px solid #38383f;
  width: 1320px;
  height: 90px;
  margin-left: 3cm;
  margin-top: 1%;
  margin-bottom: 10px;
}

#partners-3 ul
{
  display: flex;
  list-style: none;
  justify-content: center;
}

#partners-3 img
{
  width: 90px;
  height: 50px;
  margin-left: -1%;
  margin-top: -20px;
}